@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-primary: #3B82F6;
  --color-background-light: #f6f7f8;
  --color-background-dark: #0F172A;
  --color-text-primary-dark: #E2E8F0;
  --color-text-secondary-dark: #94A3B8;
  --color-card-dark: #1E293B;
}

:root {
  --color-primary: #3B82F6;
  --color-background-light: #f6f7f8;
  --color-background-dark: #0F172A;
  --color-text-primary-dark: #E2E8F0;
  --color-text-secondary-dark: #94A3B8;
  --color-card-dark: #1E293B;
}

body {
  background-color: var(--color-background-dark);
}

* {
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
}