@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --color-primary: #3b82f6;
  --color-background-light: #f6f7f8;
  --color-background-dark: #0f172a;
  --color-text-primary-dark: #e2e8f0;
  --color-text-secondary-dark: #94a3b8;
  --color-card-dark: #1e293b;
  --color-surface-dark: #1e293b;
}

:root {
  --color-primary: #3b82f6;
  --color-background-light: #f6f7f8;
  --color-background-dark: #0f172a;
  --color-text-primary-dark: #e2e8f0;
  --color-text-secondary-dark: #94a3b8;
  --color-card-dark: #1e293b;
  --color-border-dark: #334155;
  --color-surface-dark: #1e293b;
}

body {
  background-color: var(--color-background-dark);
}

* {
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}
